In [2]:
import os 
import pandas as pd

In [6]:
print(os.listdir())

['TrainingData 3.csv', 'foo.csv', 'app.yaml', '.DS_Store', 'ValidationData.csv', 'Loading the dataset.ipynb', 'gb_building.pkl', 'Validation.ipynb', 'spamtest.csv', 'trainingData.csv', 'webapp', 'svm_lat.pkl', 'rf_lat.pkl', 'Interview.ipynb', 'svm_building.pkl', 'gb_long.pkl', 'gb_lat.pkl', 'Test-File.csv', 'Email_spam_filtering.py', 'rf_building.pkl', 'Spam_filtering.ipynb', 'rf_long.pkl', 'testdata.csv', 'train.py', 'rf_floor.pkl', 'svm_long.pkl', '.ipynb_checkpoints', 'svm_floor.pkl', 'flask-d3-wordcloud', 'countvect', 'model_file', 'tests.py', 'main.py', 'gb_floor.pkl', 'spam.csv', 'vector_countvect']

In [8]:
 train_data_frame = pd.read_csv('trainingData.csv')

In [10]:
rest_data_frame = train_data_frame
valid_data_trame = pd.DataFrame(columns=train_data_frame.columns)
valid_num = int(len(train_data_frame)/10)
sample_row = rest_data_frame.sample(valid_num)
rest_data_frame = rest_data_frame.drop(sample_row.index)
valid_data_trame = valid_data_trame.append(sample_row)
train_data_frame = rest_data_frame

In [19]:
 training_x = train_data_frame.get_values().T[:520].T

In [23]:
train_data_frame.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
0,100,100,100,100,100,100,100,100,100,100,...,100,-7541.2643,4.864921e+06,2,1,106,2,2,23,1371713733
1,100,100,100,100,100,100,100,100,100,100,...,100,-7536.6212,4.864934e+06,2,1,106,2,2,23,1371713691
2,100,100,100,100,100,100,100,-97,100,100,...,100,-7519.1524,4.864950e+06,2,1,103,2,2,23,1371714095
3,100,100,100,100,100,100,100,100,100,100,...,100,-7524.5704,4.864934e+06,2,1,102,2,2,23,1371713807
4,100,100,100,100,100,100,100,100,100,100,...,100,-7632.1436,4.864982e+06,0,0,122,2,11,13,1369909710

In [18]:
training_x.shape

(16150, 520)